*{
  margin: 0;
  padding: 0;
}
/** header **/
.sub-header{
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(/img/backgr.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  color: #fff;
}

.sub-header h1{
  margin-top: 50px;
  font-family: 'Playfair Display', serif;
  font-size: 62px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

nav{
  display: flex;
  padding: 1% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img{
  width: 150px;
}

.nav-links{
  flex: 1;
  text-align: right;
}

.nav-links ul li{
  list-style-type: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
}

.nav-links ul li:after{
  content:"";
  width: 0%;
  height: 3px;
  background: #7ab4b9;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after{
  width: 100%;
}

nav .fa{
  display: none;
}
/** header end **/

/** About Lujo Juno **/
.about-lujo-juno{ 
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

/* titel */
.about-lujo-juno h2{
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  font-weight: 600px;
}

/* text */
.about-lujo-juno p{
  color:rgb(29, 29, 29);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

/* column */
.about-col{
  flex-basis: 41%;
  border-radius: 10px;
  margin-bottom: 5%;
  margin: 20px;
  text-align: left;
}

/* column image */
.about-col img{
  width: 100%;
  border-radius: 10px;
  margin-top: 20%;
}

/* column text */
.about-col p{
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* column titel */
.about-col h2{
  margin: top 16px;
  margin-bottom: 15px;
  text-align: left;
  font-family: 'Playfair Display', serif;
}

/* row */
.row {
  margin-top: 5%;
  display: flex;
  column-gap: 10px;
  justify-content: center;
}

/** restaurant info **/
.restaurant-info{ 
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

/* restaurant info text */
.restaurant-info p{
  color:rgb(29, 29, 29);
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

/* restaurant info column */
.restaurant-info-col{
  flex-basis: 25%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background-color: #a6cfd2;
  padding: 20px;
}

/* column titel */
.restaurant-info-col h3{
  margin: top 16px;
  margin-bottom: 15px;
  font-family: 'Playfair Display', serif;
  text-align: center;
}

/* column text */
.restaurant-info-col p{
  padding: 0;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

/* column icons */
.restaurant-info-col i{
  font-size: 50px;
  color: rgb(255, 255, 255);
  align-items: center;
}
div.row2{
  margin-top: 5%;
  display: flex;
  column-gap: 10px;
  justify-content: center;
}

/* the text over the columns */
div.text-above-col h3{
  font-size: 40px;
}
div.text-above-col p{
  font-size: 17px;
}

/** venue pictures **/
.venue-pictures{ 
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 5%;
}

/* column */
.venue-pictures-col{
  flex-basis: 85%;
  border-radius: 10px;
  text-align: left;
}

/* column image*/
.venue-pictures-col img{
  width: 1000px;
  height: 500px;
  border-radius: 10px;
}
div.row3{
  display: flex;
  column-gap: 10px;
  justify-content: center;
}

/*Code from https://www.w3schools.com/howto/howto_js_slideshow.asp*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  margin-bottom: 5px;
  width: 100%;
  text-align: center;
  background-color: #71717184;
}

/* Number text (1/4 etc) */
.numbertext {
  color: #000000;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*** Booking form ***/
/*Code from https://codepen.io/tutsplus/pen/wNaGjy*/
div.bookingform-header h3{
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 30px;
}

div.bookingform-header p{
  color:rgb(29, 29, 29);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
  text-align: center;
}

div.elem-group {
  margin: 20px 0;
  width: 450px;
  margin: 0 auto;
  padding: 20px;
  background-color: #a6cfd2;
}

div.elem-group-start {
  margin: 20px 0;
  width: 450px;
  margin: 0 auto;
  padding: 20px;
  background-color: #a6cfd2;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

div.elem-group-end {
  margin: 20px 0;
  width: 450px;
  margin: 0 auto;
  padding: 20px;
  background-color: #a6cfd2;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

p.booking-text {
  font-size: 22px;
  font-family: 'Playfair Display', serif;
}

input, select, textarea {
  border-radius: 2px;
  border: 2px solid #777;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Triong", serif;
  width: 100%;
  padding: 12px;
  
}

textarea {
  height: 250px;
}

div.bookingpage {
  border-radius: 10px;
}

/*** Booking form end***/

/*** Button***/
div.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 50px;
}

button {
  height: 70px;
  width: 200px;
  background-color: rgb(193, 114, 88);
  border: none;
  color: white;
  font-size: 1.25em;
  font-family: "Triong", serif;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.6;
  
}

button:hover {
  opacity: 1;
}
/*** Booking form end***/


/** footer **/
.footer {
  width: 100%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  padding: 30px 0;
}
.footer h4{
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}
.footer p{
  color:rgb(29, 29, 29);
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}
.icons .fa {
  color: #7ab4b9;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}


/** media query **/
@media (max-width: 800px) 
{
.sub-header h1{
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}
.nav-links ul li{
  display: block;
}
.nav-links{
  position: absolute;
  background: #7ab4b9;
  height: 100vh;
  width: 200px;
  top: 0;
  right: -200px;
  text-align: left;
  z-index: 2;
  transition: 1s;
}
nav .fa{
  display: block;
  color: #fff;
  margin: 10px;
  font-size: 22px;
  cursor: pointer;
}
.nav-links ul{
  padding: 30px;
}

}