.body {
  background-color:#23372e;  
}
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
/* nav bar*/
nav{
  background:#23372e;
  height: 80px;
  width: 100%;
  font-family: "Triong", serif;
}
label.logo{
  color: #f5ece5;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: #f5ece5;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background:#7ab4b9;
  transition: .5s;
}

@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
    }
  }

/*** nav bar end ***/

/*** Titel ***/
div.main-titel {
  width: 100%;
  height: 150px;
  position: relative;
}
.booking-titel {
  font-family: "Triong", serif;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*** Titel end ***/

/*** Booking form ***/
div.elem-group {
  margin: 20px 0;
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: lightgrey;
  padding: 20px;
}

.booking-text {
  font-size: 22px;
  font-family: "Triong", serif;
}

input, select, textarea {
  border-radius: 2px;
  border: 2px solid #777;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Triong", serif;
  width: 100%;
  padding: 12px;
  
}

textarea {
  height: 250px;
}
/*** Booking form end***/

/*** Button***/
div.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 50px;
}

button {
  height: 50px;
  width: 150px;
  background: #eb3941;
  border: none;
  color: white;
  font-size: 1.25em;
  font-family: "Triong", serif;
  border-radius: 4px;
  cursor: pointer;
  
}

button:hover {
  /*må finne ut av stil også kan legge til effekt*/
}
/*** Booking form end***/
