*{
  margin: 0;
  padding: 0;
}

/** header**/
.wrapper{
  width: 1170px;
  margin: auto;
}
header {
  background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("/img/backgr.jpg");
  height: 100vh;
/*** parallax effect ***/    
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*** nav bar***/
.nav-area{
      float: right;
      list-style: none;
      margin-top: 30px;
}
.nav-area li {
  display: inline;
}
.nav-area li a{
  color: #fff;
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 3px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}
.nav-area li a:hover {
  background:#7ab4b9;
  color: #fff;
  transition: 1s;
}
/*** logo ***/
.logo img{
  width: 150px;
  float: left;
  height: auto;
}
/*** welcome text ***/
.welcome-text{
  position: absolute;
  width: 600px;
  height: 300px;
  margin: 20% 30%;
  text-align: center;
}
.welcome-text h1{
  text-align: center;
  color: #fff;
  text-transform: none;
  font-size: 70px;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  letter-spacing: 2px;
  
 
}
.welcome-text p{
  text-align: center;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}
/*** book now***/
.welcome-text a{ 
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 10px 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  margin-top: 20px;
  display: inline-block;
  color: #fff;
}
.welcome-text a:hover{
      background:#7ab4b9;
      color: #fff;
      transition: 1s;
}    
/*** header end***/

/***offers***/
.offers {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  
}
h1{ 
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  font-weight: 600px;
  
}
p{
  color:rgb(29, 29, 29);
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.offer-col{
  flex-basis: 31%;
  background: #a6cfd2;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
}
h3{ 
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 23px;
  font-weight: 600;
  margin: 10px 0;
}
.offer-col:hover{
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
/** offers end **/

/** facilities **/

.facilities{ 
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  font-family: 'Poppins', sans-serif;
}
.facil-col{
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}
.facil-col img{
  width: 100%;
  border-radius: 10px;
}
.facil-col p{
  padding: 0;
}
.facil-col h3{
  margin: top 16px;
  margin-bottom: 15px;
  text-align: left;
}


/** call to action **/
.cta{ 
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("/img/table.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}
.cta h1{
  font-family: 'Poppins', sans-serif;
  color:#fff;
  margin-bottom: 40px;
  padding: 0;
}
/** book button **/
.cta a {
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 10px 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-top: 20px;
  display: inline-block;
  color: #fff;
}
.cta a:hover{
  background:#7ab4b9;
  color: #fff;
  transition: 1s;
}
/** call to action end **/   

/** footer **/
.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  background-color: #7ab4b9;
}
.footer h4{
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  color: #23372e;
}
.icons .fa {
  color: #23372e;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}




/** media query**/
@media(max-width: 700px){
  .welcome-text h1{
      font-size: 20px;
  } 
  .nav-area li{
      display: block;
  }
  .nav-area {
      position: absolute;
      background: #7ab4b9;
      height: 100vh;
      width: 200px;
      top: 0;
      right: 0;
      text-align: left;
      z-index: 2;

  }
  .row{ 
      flex-direction: column;
  }
  .cta h1{
      font-size: 20px;
  }
}